# ignore data folder
data/ecDNA_reconstruction/
data/ecDNA_reconstruction/celllines
data/ecDNA_reconstruction/patients
data/ecDNA_reconstruction/validation
data/ecDNA_mixtures/
data/simulation_benchmarking/
data/lasso_experiments/
/**/.ipynb_checkpoints/
/**/.DS_Store